{extend name="layout/common_layout" /}
{block name="css"}
<link rel="stylesheet" type="text/css" href="__CSS__/bootstrap.min.css" media="all">
{/block}
{block name="body"}
<!-- 首页信息 -->
<div class="row system">
   <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
       <table class="layui-table larry-table-info">
           <colgroup>
               <col width="150">
               <col>
           </colgroup>
           <tbody>
           <tr>
               <td><span class="tit">网站域名:</span></td>
               <td><span class="info iframe">{$config.url}</span></td>
           </tr>
           <tr>
               <td><span class="tit">服务器操作系统:</span></td>
               <td>{$config.server_os}</td>
           </tr>

           <tr>
               <td><span class="tit">服务器端口:</span></td>
               <td>{$config.server_port}</td>
           </tr>
           <tr>
               <td><span class="tit">网站目录:</span></td>
               <td>{$config.document_root}</td>
           </tr>
           <tr>
               <td><span class="tit">服务器环境:</span></td>
               <td>{$config.server_soft}</td>
           </tr>
           <tr>
               <td><span class="tit">PHP版本:</span></td>
               <td>{$config.php_version}</td>
           </tr>
           <tr>
               <td><span class="tit">最大上传限制:</span></td>
               <td>{$config.max_upload_size}</td>
           </tr>
           </tbody>
       </table>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <table class="layui-table larry-table-info">
            <colgroup>
                <col width="150">
                <col>
            </colgroup>
            <tbody>
            <tr>
                <td><span class="tit">系统名称:</span></td>
                <td><span class="info">后台管理系统</span></td>
            </tr>
            <tr>
                <td><span class="tit">系统版本:</span></td>
                <td><div id="version">{$config.version}</div></td>
            </tr>
            <tr>
                <td><span class="tit">PHP版本要求:</span></td>
                <td>>php5.5 + </td>
            </tr>
            <tr>
                <td><span class="tit">通知:</span></td>
                <td><div id="notice"></div></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
{/block}
{block name="js"}
<script>
    $(function(){
        var version = "0";
        $.ajax({
            type: "get",
            dataType: "json",
            url: 'http://service.a.com/',
            data: '',
            success: function (data) {
                if(data){
                    if(data.version !== version){
                        $("#version").append(" 发现新版本");
                    }
                    var html = '<a href="'+data.url+'" target="_blank">'+data.title+'</a>';
                }else{
                    var html = "暂无系统通知";
                }
                $("#notice").html(html);
            }
        });

    });
</script>
{/block}